In [2]:
import numpy as np
import pandas as pd
import sklearn.mod

In [3]:
train = pd.read_csv('./train_null.csv')
train.head()

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1

In [4]:
test = pd.read_csv('./test_null.csv')
test.head()

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,29306,18,NaN,245274,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,16,United-States
1,29307,29,Private,83003,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
2,29308,45,Private,35136,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40,United-States
3,29309,42,Self-emp-not-inc,64631,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
4,29310,41,Private,195821,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40,United-States

EDA

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              29305 non-null  int64
 1   age             29305 non-null  int64
 2   workclass       27642 non-null  object
 3   fnlwgt          29305 non-null  int64
 4   education       29305 non-null  object
 5   education-num   29305 non-null  int64
 6   marital-status  29305 non-null  object
 7   occupation      27637 non-null  object
 8   relationship    29305 non-null  object
 9   race            29305 non-null  object
 10  sex             29305 non-null  object
 11  capital-gain    29305 non-null  int64
 12  capital-loss    29305 non-null  int64
 13  hours-per-week  29305 non-null  int64
 14  native-country  28810 non-null  object
 15  income          29305 non-null  int64
dtypes: int64(8), object(8)
memory usage: 3.6+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19537 entries, 0 to 19536
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              19537 non-null  int64
 1   age             19537 non-null  int64
 2   workclass       18401 non-null  object
 3   fnlwgt          19537 non-null  int64
 4   education       19537 non-null  object
 5   education-num   19537 non-null  int64
 6   marital-status  19537 non-null  object
 7   occupation      18396 non-null  object
 8   relationship    19537 non-null  object
 9   race            19537 non-null  object
 10  sex             19537 non-null  object
 11  capital-gain    19537 non-null  int64
 12  capital-loss    19537 non-null  int64
 13  hours-per-week  19537 non-null  int64
 14  native-country  19175 non-null  object
dtypes: int64(7), object(8)
memory usage: 2.2+ MB

In [13]:
X_train.corr()

C:\Users\smhrd\AppData\Local\Temp\ipykernel_17992\131534602.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_train.corr()

,no,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
no,1.000000,0.001111,0.002347,-0.008466,0.003916,0.003246,0.003166
age,0.001111,1.000000,-0.075753,0.035084,0.078498,0.054413,0.073100
fnlwgt,0.002347,-0.075753,1.000000,-0.030600,-0.005051,-0.001513,-0.010154
education-num,-0.008466,0.035084,-0.030600,1.000000,0.127651,0.083925,0.147569
capital-gain,0.003916,0.078498,-0.005051,0.127651,1.000000,-0.031401,0.088609
capital-loss,0.003246,0.054413,-0.001513,0.083925,-0.031401,1.000000,0.055271
hours-per-week,0.003166,0.073100,-0.010154,0.147569,0.088609,0.055271,1.000000

In [12]:
X_train = train.loc[ : , 'no':'hours-per-week' ]
y_train = train.loc[ : , 'income':]

X_test = test