In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
import seaborn as sns

In [19]:
train = pd.read_csv('./data/train.csv',na_values=' ?', index_col='no')
test = pd.read_csv('./data/test.csv',na_values=' ?', index_col='no')
# train test 결합
combine=[train,test]

어떤 사람이 일년에 개인 수입이 $50k 달러 초과인지 예측해보자.
어떤 사람일까(내가 예측)
- 보통 백인이 많이 벌지 않을까
- 교육수준이 높은 사람
- 업종이

In [5]:

# 컬럼의 정보 알아보기
print(train.columns.values)
# age : 나이
# workclass : 고용 형태
# fnlwgt : 사람 대표성을 나타내는 가중치 (final weight의 약자)
# education : 교육 수준
# education_num : 교육 수준 수치
# marital_status: 결혼 상태
# occupation : 업종
# relationship : 가족 관계
# race : 인종
# sex : 성별
# capital_gain : 양도 소득
# capital_loss : 양도 손실
# hours_per_week : 주당 근무 시간
# native_country : 국적
# income : 수익 (예측해야 하는 값)
#      income - 50K 초과는 1, 50K 이하는 0

['no' 'age' 'workclass' 'fnlwgt' 'education' 'education-num'
 'marital-status' 'occupation' 'relationship' 'race' 'sex' 'capital-gain'
 'capital-loss' 'hours-per-week' 'native-country' 'income']

In [6]:
train['occupation'].value_counts()

 Prof-specialty       3724
 Craft-repair         3632
 Exec-managerial      3609
 Adm-clerical         3440
 Sales                3292
 Other-service        2975
 Machine-op-inspct    1811
 Transport-moving     1393
 Handlers-cleaners    1249
 Farming-fishing       888
 Tech-support          865
 Protective-serv       603
 Priv-house-serv       146
 Armed-Forces           10
Name: occupation, dtype: int64

In [37]:
train['workclass'].value_counts()

 Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
Name: workclass, dtype: int64

In [30]:
train.describe(include="all")

# count : 필드 값 개수
# unique : 고유값 개수
# top : 최빈값
# freq : 최빈값이 몇번 나왔는지

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,29305.000000,27642,2.930500e+04,29305,29305.000000,29305,27637,29305,29305,29305,29305.000000,29305.000000,29305.000000,28810,29305.000000
unique,NaN,8,NaN,16,NaN,7,14,6,5,2,NaN,NaN,NaN,41,NaN
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,NaN
freq,NaN,20410,NaN,9435,NaN,13331,3724,11769,25081,19621,NaN,NaN,NaN,26301,NaN
mean,38.659171,NaN,1.897357e+05,NaN,10.083057,NaN,NaN,NaN,NaN,NaN,1084.531786,87.073571,40.440096,NaN,0.240403
std,13.743827,NaN,1.056348e+05,NaN,2.570371,NaN,NaN,NaN,NaN,NaN,7495.715677,401.225580,12.332840,NaN,0.427335
min,17.000000,NaN,1.376900e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,0.000000
25%,28.000000,NaN,1.176060e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,0.000000
50%,37.000000,NaN,1.779550e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,0.000000
75%,48.000000,NaN,2.377130e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,0.000000
max,90.000000,NaN,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,1.000000

In [ ]:
# 그럼 여기서 해석을 내가 해야하는건가? 
# workclass 는 private이 가장 많다.
# 가중치는 왜 count가 안되나
# education HSgrad가 많다.

In [32]:
train['marital-status'].unique()

array([' Divorced', ' Never-married', ' Married-civ-spouse', ' Separated',
       ' Married-spouse-absent', ' Widowed', ' Married-AF-spouse'],
      dtype=object)

In [34]:
train['education'].value_counts()

 HS-grad         9435
 Some-college    6558
 Bachelors       4848
 Masters         1587
 Assoc-voc       1230
 11th            1057
 Assoc-acdm       980
 10th             816
 7th-8th          574
 Prof-school      500
 9th              430
 12th             415
 Doctorate        347
 5th-6th          334
 1st-4th          148
 Preschool         46
Name: education, dtype: int64

In [36]:
train['education-num'].value_counts()

9     9435
10    6558
13    4848
14    1587
11    1230
7     1057
12     980
6      816
4      574
15     500
5      430
8      415
16     347
3      334
2      148
1       46
Name: education-num, dtype: int64

In [40]:
train['education-num' == 16]

KeyError: False